@model IEnumerable<TransportationService.Utility.Route>
@{
    ViewBag.Title = "Employee Management";
}
<div id="view-container">
    <div>
        <select id="route-select">
            <option value="">--Route--</option>
            @foreach (TransportationService.Utility.Route route in Model.Where(r => r.IsActive))
            {
                <option value="@route.Id.ToString()">@route.RouteId - @route.Name</option>
            }
        </select>
        <div id="datepicker" class="input-append date" data-date-format="mm-dd-yyyy">
            <input class="span2" size="16" type="text" />
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <button id="employee-management-submit" class="btn hide" onclick="submitRouteData()">Submit</button>
    </div>
    <div class="alert alert-error hide" id="instanceError">
        <div class="error-text">Not all of the information has been filled correctly, fill in all of the data and submit again.</div>
    </div>
    <div id="route-view">
    </div>
</div>
