@model TransportationService.Models.OutputViewModel
@{
    ViewBag.Title = Model.Username;
}
<div id="mainArea">
    <button class="btn" onclick="addRoute()">Add Route</button>
    <button class="btn" onclick="addStop()">Add Stop</button>
</div>
