@model TransportationService.Models.OutputViewModel
@{
    ViewBag.Title = "ExampleView";
}
<div id="mainArea">
    <h5>Welcome, @Model.Username</h5>
</div>

<button class="btn" onclick="addRoute()">Add Route</button>
<button class="btn" onclick="addStop()">Add Stop</button>