@{
    ViewBag.Title = "Home";
}
@*
Here's a comment.
*@
<div>
    <div>Please Enter You Username And Password</div>
    <div>
        <input id="usernameText" type="text" placeholder="Enter Username" />
    </div>
    <div>
        <input id="passwordText" type="password" placeholder="Enter Password" />
    </div>
    <div>
        <button class="btn" onclick="logIn();">Log In</button>
    </div>
</div>
