@model TransportationService.Utility.Bus
@{
    ViewBag.Title = "Home";
}
@*
Here's a comment.
*@
<div>I know this wouldn't be how it would look, but it's an example.</div>
<button id="buttonToRegister" class="btn">pop up modal</button>