@{
    ViewBag.Title = "AddDriver";
}

<div id="modal" class="modal hide smallModal">
    <div class="modal-header">Add a New Driver</div>
    <div class="modal-body" style="overflow-y: visible;">
        <input id="nameText" type="text" placeholder="Enter driver's name" />
        <label for="licenseText">Please provide the driver's license</label>

        <input id="licenseText" type="text" placeholder="Enter diver's License number" />
        <div class="bfh-selectbox bfh-states" data-country="US" data-state="CA">

            <label>Please select the state the driver is registered in</label>
            <input type="text" id="selectedState" style="display: none">
            <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                <span class="bfh-selectbox-option input-medium" data-option="">--State--</span>
                <b class="caret"></b>
            </a>
            <div class="bfh-selectbox-options">
                <ul role="options" id="statesList">
                </ul>
            </div>
        </div>
        <div class="alert alert-error" id="driverFailureMessage">
            <div class="error-text">The driver's license already exists. Please enter a unique license.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" onclick="addNewDriver(false)">Add Driver</button>
        <button class="btn btn-success" onclick="addNewDriver(true)">Add and Add Another</button>
        <button class="btn" onclick="$('#modal').modal('hide')">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#driverSuccessModalMessage").hide();
        $("#driverFailureMessage").hide();
        for (var state in BFHStatesList) {
            $("#statesList").append('<li><a href="#"><input type="hidden" value="' + state + '">' + BFHStatesList[state] + '</a></li>')
        }
        $("#statesList > li > a").click(function (e) {
            e.preventDefault();
            var state = $('input[type="hidden"]', this).val();
            $("#selectedState").val(state);
        });
    });
</script>

