@model TransportationService.Models.AddRouteModel
@{
    ViewBag.Title = "AddRoute";
}

<div id="modal" class="modal hide">
    <div class="modal-header">Please Enter You Username And Password</div>
    <div class="modal-body" style="max-height: 600px; overflow: visible;">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Employees <b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (TransportationService.Utility.Bus bus in Model.AvailableBuses)
                {
                    <div onclick="">Bus @bus.BusId</div>
                }
            </ul>
        </div>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Stops<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (TransportationService.Utility.Stop stop in Model.AvailableStops)
                {
                    @* Stop 5, Ferry-19 *@
                    <div onclick="">Stop @stop.StopId, @stop.StreetName-@stop.StreetNumber</div>
                }
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" onclick="addNewRoute();">Add Route</button>
    </div>
</div>
