@{
    ViewBag.Title = "AddStop";
}

<div id="modal" class="modal hide smallModal">
    <div class="modal-header">Add a New Stop</div>
    <div class="modal-body">
        <div class="alert alert-success" id="stopSuccessModalMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            The stop was successfully added!
        </div>
        <div class="alert alert-error" id="stopFailureMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error: </strong>The stop location already exists. Please enter a unique stop location.
        </div>
        <div>
            <label for="locationText">Please provide the intersection or address</label>
            <input id="locationText" type="text" placeholder="Enter Location" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" onclick="addNewStop(false)">Add Stop</button>
        <button class="btn btn-success" onclick="addNewStop(true)">Add and Add Another</button>
        <button class="btn" onclick="$('#modal').modal('hide')">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#stopSuccessModalMessage").hide();
        $("#stopFailureMessage").hide();
    });
</script>
