@{
    ViewBag.Title = "AddStop";
}

<div id="modal" class="modal hide smallModal">
    <div class="modal-header">Add a New Stop</div>
    <div class="modal-body">
        <div>
            <label for="locationText">Please provide the intersection or address</label>
            <input id="locationText" type="text" placeholder="Enter Location" />
        </div>
        <div class="alert alert-error hide" id="stopFailureMessage">
            <div class="error-text">The stop location already exists. Please enter a unique stop location.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" onclick="addNewStop(false)">Add Stop</button>
        <button class="btn btn-success" onclick="addNewStop(true)">Add and Add Another</button>
        <button class="btn" onclick="$('#modal').modal('hide')">Cancel</button>
    </div>
</div>