@model TransportationService.Models.CustomTable
@{
    Layout = null;
}
<select id="filterType" style="width: 150px;" onchange="processFilter()">
    <option value="-1">-- Filter By --</option>
    <option value="0">RouteId</option>
    <option value="1">BusId</option>
    <option value="2">DriverId</option>
    <option value="3">StopId</option>
    <option value="5">EmployeeId</option>
</select>
<input id="filterUsage" class="input" type="text" onkeyup="processFilter()" placeholder="Filter" />
<table id="system-usage-table" class="good-style">
    <thead>
        <tr style="border-bottom: 1px solid black; padding: 5px;">
            @foreach (var header in Model.Headers)
            {
                <th style="font-weight: bold; padding: 7px 0px;">@header<i class=" no-opacity"></i></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr class="activity-row">
                @foreach (var col in row.Columns)
                {
                    <td>@col</td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr style="border-top: 2px solid black; padding: 10px;">
            @foreach (var total in Model.Totals)
            {
                <td>@total</td>
            }
        </tr>
    </tfoot>
</table>
