@{
    Layout = null;
}

<div id="modal" class="modal hide">
    <div class="modal-header">
        Are you sure you want to delete?
    </div>
    <div class="modal-footer">
        <button class="btn" onclick="$('#modal').modal('hide');">NO</button>
        <button id="confirm-button" class="btn">YES</button>
    </div>
</div>
