body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

/* Header Style */
#top-header {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 40px;
	background: #222;
}

#bus-logo {
	height: 30px;
	margin: 5px;
}

#header-text {
	font-size: 15px;
	margin: 9px;
	margin-left: 20px;
	position: fixed;
	top: 0px;
	left: 80px;
	color: #eee;
}

#sign-out-text {
	-webkit-transition: opacity linear .5s;
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 10px;
	margin-right: 20px;
	font-size: 11px;
	opacity: 0.55;
	color: #eee;
	cursor: pointer;
}

	#sign-out-text:hover {
		opacity: .9;
	}

	#sign-out-text.hidden {
		cursor: default;
	}


/* All Pages */
#content {
	border: solid 1px #444;
	border-radius: 11px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 25px;
}

#mainArea {
	padding-top: 10px;
	min-width: 300px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

#mainArea-header {
	padding: 15px;
	min-width: 300px;
	border-radius: 10px 10px 0px 0px;
	background: #444;
	text-align: center;
	color: #eee;
}

.hidden {
	opacity: 0 !important;
}

/* Log in Style. */
#loginContainer {
}

.smallModal {
	width: 400px !important;
	left: 50% !important;
	margin-left: -200px !important;
}

#login-error {
	border: 1px solid red;
	border-radius: 6px;
	background: #f09595;
	color: red;
	font-size: 12px;
	font-weight: bold;
	-webkit-transition: margin-top linear .3s;
	margin-top: -30px;
	height: 20px;
	width: 190px;
	margin-left: -webkit-calc(50% - 95px);
}

	#login-error.showerror {
		margin-top: 0px;
	}

/* add route */
.dropdown-item {
	opacity: .8;
	padding: 5px;
	margin-left: 10px;
}

	.dropdown-item:hover {
		opacity: 1;
	}

#added-stops {
	display: inline;
}

.added-stop {
	padding: 3px;
	font-size: 10px;
	display: inline;
}
